<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cyborg/bootstrap.min.css">
    <title>Minemouse-pi online control panel</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        nothing here for now, use API
      </div>
    </div>
    <script type="text/javascript">
      /*$("#sendForward").click(function() {
        $.get("bot/forward/"+$("#forwardL").attr("value"));
      });
      $("#sendScan").click(function() {
        $.get("bot/scan/"+$("#forwardL").attr("value"));
      });
      $("#sendReset").click(function() {
        $.get("bot/reset");
      });
      $("#sendRegen").click(function() {
        $.get("regen");
      });
      $("#sendMove").click(function() {
        $.get("bot/move/"+$("#moveD").attr("value"));
      });
      $("#sendGo").click(function() {
        $.get("forward/"+$("#forwardL").attr("value"));
      });
      $("#sendTurn").click(function() {
        $.get("forward/"+$("#forwardL").attr("value"));
      });*/
    </script>
  </body>
</html>
